body {
  background-color: lightblue;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.infoColor {
  color: blue;
}

hr {
  background-color: black;
}

img {
  height: 300px;
  width: 600px;
}

.check-style {
margin-left: 20px;
font-weight: lighter;
}

.margin-top {
  margin-top: 15px;
}

#headerFinal, #qOne, #qTwo, #qThree, #qFour, #qFive, .buttonHide, .intro, .ccSS, .cSharp, .java, .rrUby, .ppHp {
  display: none;
}
