body {
  background-image: url(../img/coding.jpg);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.font-var {
    font-family: fantasy;
}

.bold {
  font-weight: bolder;
}

.infoColor {
  color: blue;
}

hr {
  background-color: black;
}

.check-style {
margin-left: 20px;
font-weight: lighter;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px
}

#headerFinal, #qOne, #qTwo, #qThree, #qFour, #qFive, .buttonHide, .intro, .cCss, .cSharp, .jJava, .rRuby, .pPhp, .noInput, .backing {
  display: none;
}

img {
  height: 400px;
  width: 600px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 6px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.backing {
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  background-color: white;
  width: 80%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.head {
  border-style: solid;
  border-color: black;
  border-width: 6px;
}

.add-color {
  color: blue;
  font-weight: bold;
}
