body {
  background-color: lightblue;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.infoColor {
  color: blue;
}

hr {
  background-color: black;
}

.check-style {
margin-left: 20px;
font-weight: lighter;
}
